div(class=classSliderMainSlide)
	div(class=classSliderMainSlideWrapper)
		div(class=classSliderMainSlideInner)
			div(class='intro-section__image-wrapper')
				+pictureClassName(
					'feedback',
					'feedback', 
					webp, 
					'images/content/feedback10', 
					'images/content/feedback10',
					)

