hr
footer(class=footer)
	.container
		div(class=ClassfooterWrapper)
			div(class=ClassfooterInner)
				div(class='intro-section__intro')
					div(class='intro-section__text')
						p(class=titleDefault__H3+ ' ' +colorTextBlack + ' title-company-introSection')
							|	Запись на приём:
							|
							a(href='tel:+78129050707')
								b +7 (812) 905-07-07,
							|	
							a(href='tel:+79291050707')
								b +7 (929) 105-07-07
